<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Webデザインを勉強している理系大学生のポートフォリオサイトです。
言葉では語りつくせない気持ちや願いを、代わり形にする。
そのようなものづくりができるようになりたいと思っています。">

    <!-- favicon start-->
    <link rel="icon shortcut" href="./favicon/favicon.ico">
    <link rel="apple-touch-icon" href="./favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="./favicon/android-chrome-256x256.png">
    <!-- favicon end -->

    <!-- ogp start-->
    <meta property="og:site_name" content="Portfolio of HI">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Profile | Portfolio of HI">
    <meta property="og:description" content="Webデザインを勉強している理系大学生のポートフォリオサイトです。
言葉では語りつくせない気持ちや願いを、代わり形にする。
そのようなものづくりができるようになりたいと思っています。">
    <meta property="og:locale" content="ja_JP">
    <!-- ogp end -->

    <!-- css start -->
    <link rel="stylesheet" href="./css/html5reset-1.6.1.css">
    <link rel="stylesheet" href="./css/bulma.css">
    <link rel="stylesheet" href="https://use.typekit.net/qsl6rqv.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/profile.css">
    <!-- css end -->

    <title>Profile | Portfolio of HI</title>
</head>

<body id="app">
    <!-- header start -->
    <header>
        <div class="header-wrap">
            <h1 class="logo"><a href="#" class="en">Portfolio of HI</a></h1>
            <nav>
                <ul>
                    <li><a href="#" class="en border">Profile</a></li>
                    <li><a href="./works.html" class="en">Works</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- header end -->

    <!-- contents start -->
    <figure id="key-visual">
        <div class="key-visual-wrap">
            <img v-if="width >= 1024" src="./images/keyvisual_pc.svg" alt="Webデザインを勉強している理系大学生のポートフォリオサイトです。
                                                            言葉では語りつくせない気持ちや願いを、代わり形にする。
                                                            そのようなものづくりができるようになりたいと思っています。">
            <img v-if="width < 1024 && width >= 769" src="./images/keyvisual_tab.svg" alt="Webデザインを勉強している理系大学生のポートフォリオサイトです。
                                                                    言葉では語りつくせない気持ちや願いを、代わり形にする。
                                                                    そのようなものづくりができるようになりたいと思っています。">
            <img v-if="width < 769" src="./images/keyvisual_sp.svg" alt="Webデザインを勉強している理系大学生のポートフォリオサイトです。
                                                                    言葉では語りつくせない気持ちや願いを、代わり形にする。
                                                                    そのようなものづくりができるようになりたいと思っています。">
        </div>
    </figure>

    <main id="contents">
        <div class="contents-wrapper">

            <!-- profile start -->
            <article class="profile">
                <h2 class="en">Profile</h2>

                <div class="profile-contents columns is-vcentered">
                    <div class="selfie column is-4">
                        <img src="./images/icon.jpg" alt="私が描いたイラストです">
                    </div>

                    <section class="profile-detail column is-7">
                        <section class="basic-information">
                            <h3>石倉 啓充<span class="en">ISHIKURA HIROMITSU</span></h3>
                            <p>生年月日&nbsp;/&nbsp;2001年3月18日</p>
                            <p>
                                出身地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;栃木県&nbsp;小山市
                            </p>
                        </section>

                        <section class="career">
                            <h3 class="item"><i class="fas fa-caret-right"></i>経歴</h3>

                            <div class="year">
                                <h4>2016年</h4>
                                <p class="text">
                                    4月&nbsp;<br v-if="width < 769">
                                    栃木県立&nbsp;栃木工業高等学校&nbsp;情報技術科（現:電子情報科）&nbsp;入学
                                </p>
                            </div>

                            <div class="year">
                                <h4>2019年</h4>
                                <p class="text">
                                    3月&nbsp;<br v-if="width < 769">
                                    栃木県立&nbsp;栃木工業高等学校&nbsp;情報技術科（現:電子情報科）&nbsp;卒業
                                </p>
                                <p class="text">
                                    4月&nbsp;<br v-if="width < 769">
                                    千葉工業大学&nbsp;社会システム科学部&nbsp;経営情報科学科&nbsp;入学
                                </p>
                                <p class="text">
                                    11月&nbsp;<br v-if="width < 769">
                                    DSP株式会社でインターン（画像編集・Webデザイン業務を担当）
                                </p>
                            </div>
                        </section>

                        <section class="hobby">
                            <h3 class="item"><i class="fas fa-caret-right"></i>趣味</h3>
                            <p class="text">
                                絵を描くこと<br v-if="width < 769"><span class="is-hidden-mobile">/</span>
                                読書（小説、実用書など）<br v-if="width < 769"><span class="is-hidden-mobile">/</span>
                                カラオケ
                            </p>
                        </section>

                    </section>
                </div>
            </article>
            <!-- profile end -->

            <!-- skills start -->
            <article class="skill">
                <h2 class="en">Skills</h2>

                <div class="skills-contents">
                    <section class="level columns is-mobile">
                        <h3><i class="fas fa-tachometer-alt"></i>スキルレベルの目安</h3>

                        <ul class="level-detail column is-10-desktop is-offset-2-desktop is-offset-1-tablet">

                            <li>
                                <span class="level-number">★★★★</span>
                                <span class="level-text">
                                    <span class="is-hidden-mobile">|&nbsp;&nbsp;&nbsp;</span>
                                    作品制作で使用したことがある。
                                    <br v-if="width < 769">インターンの業務でよく使用する。
                                </span>
                            </li>

                            <li>
                                <span class="level-number">★★★</span>
                                <span class="level-text">
                                    <span class="is-hidden-mobile">|&nbsp;&nbsp;&nbsp;</span>
                                    大学の課題制作で使用したことがある。
                                    <br v-if="width < 769">インターンの業務でたまに使用する。
                                </span>
                            </li>

                            <li>
                                <span class="level-number">★★</span>
                                <span class="level-text">
                                    <span class="is-hidden-mobile">|&nbsp;&nbsp;&nbsp;</span>
                                    本で基礎的な知識を網羅的に学んだことがある。
                                    <br v-if="width < 769">サンプル作品を制作したことがある。
                                </span>
                            </li>

                            <li>
                                <span class="level-number">★</span>
                                <span class="level-text">
                                    <span class="is-hidden-mobile">|&nbsp;&nbsp;&nbsp;</span>
                                    個人で学習し、特定の機能を使用したことがある。
                                    <br v-if="width < 769">大学の授業で基礎的な知識を学んだことがある。
                                </span>
                            </li>

                        </ul>
                    </section>
                    <section class="skills-list">
                        <h3><i class="fas fa-cogs"></i>スキル一覧</h3>

                        <div id="skill-cards" class="columns is-multiline is-mobile is-variable is-8-tablet">

                            <!-- skills配列の要素を1つずつ取り出して属性を代入する -->
                            <section class="skill-card column is-one-third-desktop is-half-tablet is-half-mobile"
                                v-for="skill in skills">
                                <p class="skill-icon">
                                    <img :src="skill.image" v-bind:alt='`${skill.name}のアイコン画像`'>
                                </p>
                                <h5 class="en">{{skill.name}}</h5>
                                <p class="skill-level">{{skill.level}}</p>
                                <p class="skill-description" v-text="skill.text">
                                </p>
                            </section>

                        </div>
                    </section>
                </div>
            </article>
            <!-- skills end -->
            <div class="move">
                <a class="button is-large" href="./works.html">作品を見る<i class="fas fa-chevron-circle-right"></i></a>
            </div>
        </div>

    </main>
    <!-- contents end -->

    <!-- footer start -->
    <footer>
        <div class="footer-wrap">
            <h4 class="en">PAGES</h4>

            <nav>
                <ul>
                    <li><a href="#" class="en">Profile</a></li>
                    <li><a href="#" class="en">Works</a></li>
                </ul>
            </nav>

            <h1 class="logo"><a href="#" class="en">Portfolio of HI</a></h1>
        </div>
    </footer>
    <!-- footer end -->

    <!-- script start -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="./js/Profile.js"></script>
    <!-- script end -->
</body>

</html>