<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Webデザイナーを目指している理系大学生のポートフォリオサイトです。
                                                        言葉では語りつくせない気持ちや願いを、代わり形にする。
                                                        そのようなデザインができるようになりたいと思っています。">

    <!-- favicon start-->
    <link rel="icon shortcut" href="./favicon/favicon.ico">
    <link rel="apple-touch-icon" href="./favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="./favicon/android-chrome-256x256.png">
    <!-- favicon end -->

    <!-- ogp start-->
    <meta property="og:site_name" content="Portfolio of HI">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Works | Portfolio of HI">
    <meta property="og:description" content="Webデザイナーを目指している理系大学生のポートフォリオサイトです。
                                                        言葉では語りつくせない気持ちや願いを、代わり形にする。
                                                        そのようなデザインができるようになりたいと思っています。">
    <meta property="og:locale" content="ja_JP">
    <!-- ogp end -->

    <!-- css start -->
    <link rel="stylesheet" href="./css/html5reset-1.6.1.css">
    <link rel="stylesheet" href="./css/bulma.css">
    <link rel="stylesheet" href="https://use.typekit.net/qsl6rqv.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/works.css">
    <!-- css end -->

    <title>Works | Portfolio of HI</title>
</head>

<body id="app">
    <!-- header start -->
    <header>
        <div class="header-wrap">
            <h1 class="logo"><a href="#" class="en">Portfolio of HI</a></h1>
            <nav>
                <ul>
                    <li><a href="./index.html" class="en">Profile</a></li>
                    <li><a href="#" class="en border">Works</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- header end -->

    <!-- modal start -->
    <transition name="modal">
        <div id="overlay" v-show="showModal">
            <article class="modal-window columns is-desktop is-variable is-4" v-show="showModal" :val="postItem">

                <i class="fas fa-times" id="close" @click="closeModal"></i>

                <!-- image-column start -->
                <div class="carousel column is-6-desktop">

                    <div class="btn-left" v-if="sliderLength > 1">
                        <button type="button" @click="prev(postItem)">
                            <i class="fas fa-arrow-alt-circle-left"></i>
                        </button>
                    </div>

                    <div class="slider">
                        <img :src="sliderImage" alt="">
                    </div>

                    <div class="btn-right" v-if="sliderLength > 1">
                        <button type="button" @click="next(postItem)">
                            <i class="fas fa-arrow-alt-circle-right"></i>
                        </button>
                    </div>

                </div>
                <!-- image-column end -->

                <!-- contents-column start -->
                <section id="modal-contents" class="column">
                    <h3 class="modal-title">{{ postItem.title }}</h3>
                    <p class="modal-subtitle">{{ postItem.subtitle }}</p>

                    <ul class="tab">
                        <li class="tab-item " v-for="(item, index) in modalItems" :key="index"
                            :class="{ active: modalActive === index }" @click.prevent="modalActivate(index)">
                            <a href="#modal-contents">
                                {{ item }}
                            </a>
                        </li>
                    </ul>

                    <div class="tab-contents">

                        <!-- information start -->
                        <div class="tab-panel" :class="{ columns: width < 1024 && width >= 769 }"
                            v-show="modalActive === 0">
                            <section class="information-item column">
                                <h4><i class="fas fa-tools"></i>使用したツール</h4>
                                <ul>
                                    <li v-for="tool in postItem.tools">
                                        {{ tool }}
                                    </li>
                                </ul>
                            </section>

                            <section class="information-item column">
                                <h4><i class="far fa-clock"></i>制作時間</h4>
                                <p>{{ postItem.time }}</p>
                            </section>

                            <section class="information-item column">
                                <h4><i class="fas fa-tasks"></i>担当した範囲</h4>
                                <ul>
                                    <li v-for="scope in postItem.scopes">
                                        {{ scope }}
                                    </li>
                                </ul>
                            </section>
                        </div>
                        <!-- information end -->

                        <!-- comment start -->
                        <div class="tab-panel" v-show="modalActive === 1">
                            <p class="comment">{{ postItem.exp }}</p>
                        </div>
                        <!-- comment end -->
                    </div>
                    <div class="web" v-if="postItem.url">
                        <a class="button is-medium" :href="postItem.url" target="_blank" rel="noopener noreferrer">作品を見る
                            <i class="fas fa-chevron-circle-right">
                            </i>
                        </a>
                    </div>
                </section>
                <!-- contents-column end -->

            </article>
        </div>
    </transition>
    <!-- modal end -->

    <!-- contents start -->
    <main id="contents">

        <div class="contents-wrapper">
            <!-- works start -->
            <article class="works">
                <h2 class="en">Works</h2>

                <ul class="tab">
                    <li class="tab-item" v-for="(item, index) in items" :key="index"
                        :class="{ active: active === index }">
                        <a href="#" @click.prevent="activate(index)">{{ item }}</a>
                    </li>
                </ul>

                <div class="works-list columns is-multiline">
                    <article class="work-card column is-half " v-for="work in tabFilter" :key="work"
                        @click="openModal(work)">
                        <p class="thumbnail" @mouseenter="hoverAction(work)" @mouseleave="leaveAction(work)">
                            <img :src="work.image[work.displayImage]" :alt="work.title">
                        </p>
                        <p class="category">{{work.category.name}}</p>
                        <h5 class="work-title">{{work.title}}</h5>
                        <p class="subtitle">{{work.subtitle}}</p>
                    </article>
                </div>
            </article>
            <!-- works end -->
        </div>
    </main>
    <!-- contents end -->

    <!-- footer start -->
    <footer>
        <div class="footer-wrap">
            <h4>PAGES</h4>

            <nav>
                <ul>
                    <li><a href="" class="en">Profile</a></li>
                    <li><a href="#" class="en">Works</a></li>
                </ul>
            </nav>

            <h1 class="logo"><a href="#" class="en">Portfolio of HI</a></h1>
        </div>
    </footer>
    <!-- footer end -->

    <!-- script start -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="./js/import.js"></script>
    <script src="./js/works.js"></script>
    <!-- script end -->
</body>

</html>